MERGING AND EXPORTING DATA 
SCRIPT INCLUDES

3. importing data
4. check the output of the dataframes
5. merge df_prods with df_ords_combined
6. confirm the results with a merge flag
7. export the file in pickle format

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

3. Import the data

In [6]:
# Import df_prods
df_prods=pd.read_csv(r"C:\Users\Owner\Downloads\4.3_orders_products\products.csv")

In [8]:
# Import pkl file - df_ords_combined
df_ords_combined=pd.read_pickle(r"C:\Users\Owner\Downloads\orders_products_combined.pkl")

4. Check the output of the dataframes

- df_prods

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# rows and columns
df_prods.shape

(49693, 5)

In [16]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [18]:
print(df_prods.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

- df_ords_combined

In [21]:
df_ords_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [23]:
# rows and columns
df_ords_combined.shape

(32434489, 11)

In [25]:
# list of columns
print(df_ords_combined.columns)

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

5. merge df_prods with df_ords_combined

In [28]:
#Drop unnamed columns in df_ords_combined
df_ords_combined = df_ords_combined.drop(columns = ["_merge","eval_set"])
df_ords_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [29]:
#Merge df_prods and df_ords_combined
df_ords_prods_merge= df_prods.merge(df_ords_combined, on = 'product_id', indicator = True)

In [31]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [32]:
df_ords_prods_merge.shape

(32434212, 14)

In [33]:
# Define the path
path = os.path.join('..', '02 Data', 'Prepared Data')

In [38]:
#Export orders_products_merged file to pickle
df_ords_prods_merge.to_pickle(os.path.join(path,'orders_products_merged.pkl'))