MERGING AND EXPORTING DATA

SCRIPT INCLUDES

1. Import Data

2. Check Output

3. Merge df_ords and df_ords_prior

In [243]:
# Import libraries

import pandas as pd
import numpy as np
import os

1. IMPORT DATA

1.1 Import df_ords_prior as a new database

In [247]:
df_ords_prior=pd.read_csv(r'C:\Users\Owner\Downloads\4.6_orders_products_prior\orders_products_prior.csv')

1.2 Import df_ords

In [249]:
df_ords=pd.read_csv(r'C:\Users\Owner\Downloads\4.3_orders_products\orders.csv')

1.3 Import df_prods

In [251]:
path='../02 Data/prepared data/products_checked.csv'

In [252]:
df_prods=pd.read_csv(path)

2. CHECK OUTPUT

2.1 df_ords_prior

In [255]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [256]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [257]:
df_ords_prior.shape

(32434489, 4)

2.2 df_ords

In [259]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [260]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [261]:
df_ords.shape

(3421083, 7)

2.3 df_prods

In [263]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [264]:
df_prods.describe()

       Unnamed: 0    product_id      aisle_id  department_id        prices
count  49693.0000  49693.000000  49693.000000   49693.000000  49693.000000
mean   24846.0000  24844.345139     67.770249      11.728433      9.994136
std    14345.2778  14343.717401     38.316774       5.850282    453.519686
min        0.0000      1.000000      1.000000       1.000000      1.000000
25%    12423.0000  12423.000000     35.000000       7.000000      4.100000
50%    24846.0000  24845.000000     69.000000      13.000000      7.100000
75%    37269.0000  37265.000000    100.000000      17.000000     11.200000
max    49692.0000  49688.000000    134.000000      21.000000  99999.000000

In [265]:
df_ords.shape

(3421083, 7)

3. MERGE DF_ORDS AND DF_ORDS_PRIOR

In [267]:
#Merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [268]:
#Check output of merged dataframe
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [269]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [270]:
# Define the path
path = os.path.join('..', '02 Data', 'Prepared Data')

In [271]:
# Create the directory if it doesn't exist
os.makedirs(path, exist_ok=True)

In [272]:
# Export Data to pkl
df_merged_large.to_pickle(os.path.join(path,'orders_products_combined.pkl'))