4.9 - Task Pt. 1

This script Includes

3. Import your analysis libraries, as well as your new customer data set as a dataframe

4. Wrangle the data so that it follows consistent logic

5. Data Quality and consistency checks

6. combine customer data with rest of instacart data

Step 3

In [8]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [9]:
# Import new customer DF
df_customers=pd.read_csv(r"C:\Users\Owner\Downloads\customers\customers.csv")

In [10]:
# quick review 
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [11]:
# viewing the df
df_customers.shape

(206209, 10)

In [12]:
# viewing the df
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

Step 4

renaming the variables for consistency

In [15]:
# Rename First Name as first_name
df_customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [16]:
# Rename Surnam as last_name
df_customers.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [17]:
#Rename Gender as gender
df_customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [18]:
# Rename STATE as state
df_customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [19]:
#Rename Age as age
df_customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [20]:
#Rename fam_status as marital_status
df_customers.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [21]:
# checking the results - update: all 6 successfully renamed
df_customers.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

Step 5

In [23]:
# Checking for missing values in entire DF
df_customers.isnull().sum()

user_id               0
first_name        11259
last_name             0
gender                0
state                 0
age                   0
date_joined           0
n_dependants          0
marital_status        0
income                0
dtype: int64

observation: 11259 rows with missing first names

In [25]:
# Checking for duplicates in entire DF
df_duplicates = df_customers[df_customers.duplicated()]

In [26]:
df_duplicates

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

observation: no duplicates

In [28]:
# Checking data types
df_customers.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [29]:
# finding mixed data type
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_customers[weird]) > 0:
            print (col)

first_name

In [30]:
# assigning string data type
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [31]:
# checking for any changes
df_customers.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [32]:
# checking for any changes
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].map(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_customers[weird]) > 0:
            print (col)

observation: the lack of result shows there is no mixed data type now

Step 6

In [35]:
import pandas as pd
df_ords_prods_merge=pd.read_pickle(r"C:\Users\Owner\Downloads\orders_products_merged_grouped.pkl")

In [36]:
#Drop the _merge column from the previous exercise
df_ords_prods_merge = df_ords_prods_merge.drop(columns=['_merge'])

In [ ]:
# Merge ords_prods_merge DF with customers DF - they both have a user_id column
df_ords_prods_customers_merge = df_ords_prods_merge.merge(df_customers, on = 'user_id', indicator = True)

In [ ]:
# Define the path
import os
path = os.path.join('..', '02 Data', 'Prepared Data')

In [ ]:
df_ords_prods_customers_merge.to_pickle(os.path.join(path,'orders_products_customers_merged_grouped.pkl'))